{% extends 'base.html.twig' %}

{% block title %}Upload multiple{% endblock %}

{% block body %}
    <h1>Upload multiple sous Symfony</h1>
    <a role="button" href="{{ path('app_product_index' )}}">Administrer les produits</a>
{% endblock %}
